<mat-card>
    <mat-card-title matTooltip="You must complete all the form fields" 
        matTooltipClass="danger-tooltip-class" 
        matTooltipPosition="above"
        [matTooltipShowDelay]="showDelay.value"
        [matTooltipHideDelay]="hideDelay.value"
        >
        Form Contact
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)" novalidate>
            <table>
                <!-- First name & last name -->
                <tr>
                    <td>
                        <mat-form-field class="full-width">
                            <input formControlName="firstName" matInput placeholder="Insert first name here...">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('firstName')?.valid && contactForm.get('firstName')?.touched">Insert a valid first name, please!!!</span>
                        </mat-error>
                    </td>
                    <td>
                        <mat-form-field class="full-width">
                            <input formControlName="lastName" matInput placeholder="Insert last name here...">
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('lastName')?.valid && contactForm.get('lastName')?.touched">Insert a valid last name, please!!!</span>
                        </mat-error>
                    </td>
                </tr>
                <!-- Address - > Text area-->
                <tr>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <textarea formControlName="address" matInput placeholder="Type your address here..." matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('address')?.valid && contactForm.get('address')?.touched">Insert a valid address, please!!!</span>
                        </mat-error>
                    </td>
                </tr>

               <!-- Birth of Date - > DatePicker-->
               <tr>
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input formControlName="birthDate" matInput [matDatepicker]="picker" placeholder="Insert your date of birth here..."> 
                            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                            <mat-datepicker  touchUi="true" #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('birthDate')?.valid && contactForm.get('birthDate')?.touched">Insert a valid date, please!!!</span>
                        </mat-error>
                    </td>
                </tr>

 
                <!-- Email -->
                <tr >             
                    <td colspan="2">
                        <mat-form-field class="full-width">
                            <input type="email" formControlName="email" matInput placeholder="Insert your email here...">
                            <mat-hint>use like: user@company.com</mat-hint>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('email')?.valid && contactForm.get('email')?.touched">Insert a valid email format, please!!!</span>
                        </mat-error>
                    </td>
                </tr><br>   

                <!-- Gender - Radio Button -->
                <tr>
                    <td>
                        <span>Gender</span><br><br>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female">Female</mat-radio-button>
                            <mat-radio-button value="others">Others</mat-radio-button>
                        </mat-radio-group>
                        <mat-error>
                            <span *ngIf="!contactForm.get('gender')?.valid && contactForm.get('gender')?.touched">Please, select any gender</span>
                        </mat-error>
                    </td>
                </tr><br>
                <!-- Job type - Options -->
                <tr>
                    <td>
                        <mat-form-field>
                            <mat-select formControlName="job" placeholder="Select your job...">
                                <mat-option disabled> -- select any -- </mat-option>
                                <mat-option value="developer">Developer</mat-option>
                                <mat-option value="sales">Sales</mat-option>
                                <mat-option value="designer">Designer</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error>
                            <span *ngIf="!contactForm.get('job')?.valid && contactForm.get('job')?.touched">Please, select any job</span>
                        </mat-error>
                    </td>
                </tr>
                <!-- T&C - Slide-toogle -->
                <tr>
                    <td colspan="2">
                        <mat-slide-toggle formControlName="isAccepted" (change)="onChangeTerms($event)">I accept the Terms & Conditions</mat-slide-toggle>
                    </td>
                </tr><br>
                <!-- Submit Button -->
                <tr>
                    <td class="contact-center">
                        <button mat-raised-button color="primary" [disabled]="!contactForm.valid || isAccepted==0"  >Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
</mat-card>