mat-card {
    max-width: 40%;
    margin: 2em auto;
    text-align: -webkit-center; 
}

mat-radio-button{
    margin-left:20px;
}


.contact-center {
    text-align: -webkit -center;
}
.full-width{
    width: 100%;
}