<mat-toolbar class="toGreen">
    <!-- Control lateral-->
    <div fxHide.gt-xs>
      <button (click)="onToggleSidenav()">Menu</button>
    </div>
    <div fxHide.xs>
      <a href="">Material Example</a>
    </div>
    <!-- Botones barra-->
    <div fxFlex fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="25px" class="navigation-item">
        <li>
          <a href="">Welcome</a>
        </li>
        <li>
          <a href="">Elementos</a>
        </li>
        <li>
          <a href="">Contacto</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>