<mat-toolbar class="toGreen">
    <!-- Control lateral-->
    <div fxHide.gt-xs>
      <button (click)="onToggleSidenav()" >Menu</button>
    </div>
    <div fxHide.xs>
      <a [routerLink]="['/']">Material Example</a>
    </div>
    <!-- Botones barra-->
    <div fxFlex fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="25px" class="navigation-item">
        <li>
          <a [routerLink]="['/welcome']">Welcome</a>
        </li>
        <li>
          <a [routerLink]="['/charactergrid']">Grid Cards</a>
        </li>
        <li>
          <a [routerLink]="['/characterlist']">List Cards</a>
        </li>
        <li>
          <a [routerLink]="['/search']">Search</a>
        </li>
        <li>
          <a [routerLink]="['/maps']">Map</a>
        </li>
        <li>
          <a [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>