.toGreen {
    background-color: green;
    color:white;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover, a:active {
    color: lightgray;
}
.navigation-item {
    list-style-type: none;
}
button {
    all:unset;
}