<!--<div class="parent" fxLayout="column" fxLayout.gt-xs="row">
  <div fxFlex="10" class="left">Left</div>
  <div fxFlex="70" class="right">Right</div>
  <div fxFlex class="right" style="background-color: red;">RightRightRight</div>
</div>-->

<div fxFlex class="parent" fxLayout="row" fxLayoutGap="30px">
  <div fxFlex class="left" fxLayout="column" >
    <div fxFlex="50" style="background-color: blue;">Blue</div>
    <div fxFlex style="background-color: red;">Red</div>
    <div fxFlex style="background-color: pink;">Pink</div>
  </div>
  <div fxFlex class="right">Right</div>
</div>