/*.parent{
    height: 200px;
}

.left {
    background-color: yellow;
}

.right {
    background-color: cyan;
}
*/

/******* SIDE NAV *******/
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height:100vh;
}
mat-sidenav{
    width: 250px;
}
