<mat-nav-list>
    <a mat-list-item (click)="onSidenavClose()" [routerLink]="['/welcome']">
        <mat-icon>pan_tool</mat-icon>
        <span>Welcome</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()" [routerLink]="['/charactergrid']">
        <mat-icon>dashboard</mat-icon>
        <span>Grid Cards</span>
    </a>
    <a  mat-list-item (click)="onSidenavClose()" [routerLink]="['/characterlist']">
        <mat-icon>view_list</mat-icon>
        <span>List Cards</span>
    </a>
    <a  mat-list-item (click)="onSidenavClose()" [routerLink]="['/search']">
        <mat-icon>search</mat-icon>
        <span>Search</span>
    </a>
    <a  mat-list-item (click)="onSidenavClose()" [routerLink]="['/maps']">
        <mat-icon>explore</mat-icon>
        <span>Map</span>
    </a>
    <a  mat-list-item (click)="onSidenavClose()" [routerLink]="['/contact']">
        <mat-icon>settings_phone</mat-icon>
        <span>Contact</span>
    </a>
</mat-nav-list>